<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Nav 1</a></li>
		        	<li><a href="/about">Nav 2</a></li>
	        		<li><a href="/cv">All in the</a></li>
	        		<li><a href="/blog">Default Layout</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Footer list A.</li>
	        		<li>Footer list B.</li>
				</ul>
			</footer>
		</body>
	</html>
